In [10]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import os

In [12]:
Leases = pd.read_csv('datafest-data-read-only/Leases.csv')
Leases.describe()
print(Leases.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194685 entries, 0 to 194684
Data columns (total 35 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   year                            194685 non-null  int64
 1   quarter                         194685 non-null  object
 2   monthsigned                     193822 non-null  float64
 3   market                          194685 non-null  object
 4   building_name                   157999 non-null  object
 5   building_id                     194685 non-null  object
 6   address                         194685 non-null  object
 7   region                          194685 non-null  object
 8   city                            194685 non-null  object
 9   state                           194685 non-null  object
 10  zip                             194684 non-null  float64
 11  internal_submarket              194685 non-null  object
 12  internal_class                  194676 non-null  object
 13  leasedSF                        194685 non-null  float64
 14  company_name                    37216 non-null   object
 15  internal_industry               26401 non-null   object
 16  transaction_type                194146 non-null  object
 17  internal_market_cluster         75838 non-null   object
 18  costarID                        194685 non-null  int64
 19  space_type                      187140 non-null  object
 20  CBD_suburban                    194685 non-null  object
 21  RBA                             145541 non-null  float64
 22  available_space                 145541 non-null  float64
 23  availability_proportion         145541 non-null  float64
 24  internal_class_rent             145541 non-null  float64
 25  overall_rent                    145541 non-null  float64
 26  direct_available_space          121674 non-null  float64
 27  direct_availability_proportion  121674 non-null  float64
 28  direct_internal_class_rent      121674 non-null  float64
 29  direct_overall_rent             121674 non-null  float64
 30  sublet_available_space          121674 non-null  float64
 31  sublet_availability_proportion  121674 non-null  float64
 32  sublet_internal_class_rent      121674 non-null  float64
 33  sublet_overall_rent             121674 non-null  float64
 34  leasing                         145541 non-null  float64
dtypes: float64(17), int64(2), object(16)
memory usage: 52.0+ MB
None