In [73]:
import pandas as pd
import numpy as np
import sklearn
import matplotlib.pyplot as plt
import os

In [74]:
leases = pd.read_csv('datafest-data-read-only/Leases.csv')
print(Leases.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194685 entries, 0 to 194684
Data columns (total 35 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   year                            194685 non-null  int64
 1   quarter                         194685 non-null  object
 2   monthsigned                     193822 non-null  float64
 3   market                          194685 non-null  object
 4   building_name                   157999 non-null  object
 5   building_id                     194685 non-null  object
 6   address                         194685 non-null  object
 7   region                          194685 non-null  object
 8   city                            194685 non-null  object
 9   state                           194685 non-null  object
 10  zip                             194684 non-null  float64
 11  internal_submarket              194685 non-null  object
 12  internal_class                  194676 non-null  object
 13  leasedSF                        194685 non-null  float64
 14  company_name                    37216 non-null   object
 15  internal_industry               26401 non-null   object
 16  transaction_type                194146 non-null  object
 17  internal_market_cluster         75838 non-null   object
 18  costarID                        194685 non-null  int64
 19  space_type                      187140 non-null  object
 20  CBD_suburban                    194685 non-null  object
 21  RBA                             145541 non-null  float64
 22  available_space                 145541 non-null  float64
 23  availability_proportion         145541 non-null  float64
 24  internal_class_rent             145541 non-null  float64
 25  overall_rent                    145541 non-null  float64
 26  direct_available_space          121674 non-null  float64
 27  direct_availability_proportion  121674 non-null  float64
 28  direct_internal_class_rent      121674 non-null  float64
 29  direct_overall_rent             121674 non-null  float64
 30  sublet_available_space          121674 non-null  float64
 31  sublet_availability_proportion  121674 non-null  float64
 32  sublet_internal_class_rent      121674 non-null  float64
 33  sublet_overall_rent             121674 non-null  float64
 34  leasing                         145541 non-null  float64
dtypes: float64(17), int64(2), object(16)
memory usage: 52.0+ MB
None

In [75]:
priceANDavailability = pd.read_csv('datafest-data-read-only/Price_and_Availability_Data.csv')
print(priceANDavailability.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1680 entries, 0 to 1679
Data columns (total 18 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   year                            1680 non-null   int64
 1   quarter                         1680 non-null   object
 2   market                          1680 non-null   object
 3   internal_class                  1680 non-null   object
 4   RBA                             1680 non-null   int64
 5   available_space                 1680 non-null   int64
 6   availability_proportion         1680 non-null   float64
 7   internal_class_rent             1680 non-null   float64
 8   overall_rent                    1680 non-null   float64
 9   direct_available_space          1380 non-null   float64
 10  direct_availability_proportion  1380 non-null   float64
 11  direct_internal_class_rent      1380 non-null   float64
 12  direct_overall_rent             1380 non-null   float64
 13  sublet_available_space          1380 non-null   float64
 14  sublet_availability_proportion  1380 non-null   float64
 15  sublet_internal_class_rent      1380 non-null   float64
 16  sublet_overall_rent             1380 non-null   float64
 17  leasing                         1680 non-null   int64
dtypes: float64(11), int64(4), object(3)
memory usage: 236.4+ KB
None

In [76]:
majorMarket = pd.read_csv('datafest-data-read-only/Major_Market_Occupancy_Data-revised.csv')
print(majorMarket.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   year                           190 non-null    int64
 1   quarter                        190 non-null    object
 2   market                         190 non-null    object
 3   ending_occupancy_proportion    190 non-null    float64
 4   starting_occupancy_proportion  190 non-null    float64
 5   avg_occupancy_proportion       190 non-null    float64
dtypes: float64(3), int64(1), object(2)
memory usage: 9.0+ KB
None

In [77]:
unemployment = pd.read_csv('datafest-data-read-only/Unemployment.csv')
print(unemployment.describe())
print(unemployment.info())

              year        month  unemployment_rate
count  1848.000000  1848.000000        1848.000000
mean   2021.000000     6.500000           4.515368
std       2.000541     3.452987           2.214930
min    2018.000000     1.000000           1.800000
25%    2019.000000     3.750000           3.300000
50%    2021.000000     6.500000           4.000000
75%    2023.000000     9.250000           4.800000
max    2024.000000    12.000000          22.600000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1848 entries, 0 to 1847
Data columns (total 5 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year               1848 non-null   int64
 1   quarter            1848 non-null   object
 2   month              1848 non-null   int64
 3   state              1848 non-null   object
 4   unemployment_rate  1848 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 72.3+ KB
None

In [78]:
main_without_majorMarketInfo2018 = pd.merge(leases, priceANDavailability, on=['year', 'quarter', 'market'], how='inner')

main_with_majorMarketInfo2020 = pd.merge(main_without_majorMarketInfo2018, majorMarket, on=['year', 'quarter', 'market'], how='inner')
#Sample size significantly decrease as majorMarket dataset only contains data after 2020, we lost three years of data.

print("Main without major markets Dataset Infomation")
print(main_without_majorMarketInfo2018.info())
print("")
print("")
print("Main with major markets Dataset Infomation")
print(main_with_majorMarketInfo2020.info())

Main without major markets Dataset Infomation
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291088 entries, 0 to 291087
Data columns (total 50 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   year                              291088 non-null  int64
 1   quarter                           291088 non-null  object
 2   monthsigned                       289722 non-null  float64
 3   market                            291088 non-null  object
 4   building_name                     237882 non-null  object
 5   building_id                       291088 non-null  object
 6   address                           291088 non-null  object
 7   region                            291088 non-null  object
 8   city                              291088 non-null  object
 9   state                             291088 non-null  object
 10  zip                               291086 non-null  float64
 11  internal_submarket                291088 non-null  object
 12  internal_class_x                  291082 non-null  object
 13  leasedSF                          291088 non-null  float64
 14  company_name                      55874 non-null   object
 15  internal_industry                 41176 non-null   object
 16  transaction_type                  290340 non-null  object
 17  internal_market_cluster           144868 non-null  object
 18  costarID                          291088 non-null  int64
 19  space_type                        277524 non-null  object
 20  CBD_suburban                      291088 non-null  object
 21  RBA_x                             291082 non-null  float64
 22  available_space_x                 291082 non-null  float64
 23  availability_proportion_x         291082 non-null  float64
 24  internal_class_rent_x             291082 non-null  float64
 25  overall_rent_x                    291082 non-null  float64
 26  direct_available_space_x          243348 non-null  float64
 27  direct_availability_proportion_x  243348 non-null  float64
 28  direct_internal_class_rent_x      243348 non-null  float64
 29  direct_overall_rent_x             243348 non-null  float64
 30  sublet_available_space_x          243348 non-null  float64
 31  sublet_availability_proportion_x  243348 non-null  float64
 32  sublet_internal_class_rent_x      243348 non-null  float64
 33  sublet_overall_rent_x             243348 non-null  float64
 34  leasing_x                         291082 non-null  float64
 35  internal_class_y                  291088 non-null  object
 36  RBA_y                             291088 non-null  int64
 37  available_space_y                 291088 non-null  int64
 38  availability_proportion_y         291088 non-null  float64
 39  internal_class_rent_y             291088 non-null  float64
 40  overall_rent_y                    291088 non-null  float64
 41  direct_available_space_y          243354 non-null  float64
 42  direct_availability_proportion_y  243354 non-null  float64
 43  direct_internal_class_rent_y      243354 non-null  float64
 44  direct_overall_rent_y             243354 non-null  float64
 45  sublet_available_space_y          243354 non-null  float64
 46  sublet_availability_proportion_y  243354 non-null  float64
 47  sublet_internal_class_rent_y      243354 non-null  float64
 48  sublet_overall_rent_y             243354 non-null  float64
 49  leasing_y                         291088 non-null  int64
dtypes: float64(28), int64(5), object(17)
memory usage: 111.0+ MB
None


Main with major markets Dataset Infomation
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75562 entries, 0 to 75561
Data columns (total 53 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   year                              75562 non-null  int64
 1   quarter                           75562 non-null  object
 2   monthsigned                       75334 non-null  float64
 3   market                            75562 non-null  object
 4   building_name                     60794 non-null  object
 5   building_id                       75562 non-null  object
 6   address                           75562 non-null  object
 7   region                            75562 non-null  object
 8   city                              75562 non-null  object
 9   state                             75562 non-null  object
 10  zip                               75562 non-null  float64
 11  internal_submarket                75562 non-null  object
 12  internal_class_x                  75560 non-null  object
 13  leasedSF                          75562 non-null  float64
 14  company_name                      13950 non-null  object
 15  internal_industry                 11408 non-null  object
 16  transaction_type                  75362 non-null  object
 17  internal_market_cluster           37888 non-null  object
 18  costarID                          75562 non-null  int64
 19  space_type                        73808 non-null  object
 20  CBD_suburban                      75562 non-null  object
 21  RBA_x                             75560 non-null  float64
 22  available_space_x                 75560 non-null  float64
 23  availability_proportion_x         75560 non-null  float64
 24  internal_class_rent_x             75560 non-null  float64
 25  overall_rent_x                    75560 non-null  float64
 26  direct_available_space_x          75560 non-null  float64
 27  direct_availability_proportion_x  75560 non-null  float64
 28  direct_internal_class_rent_x      75560 non-null  float64
 29  direct_overall_rent_x             75560 non-null  float64
 30  sublet_available_space_x          75560 non-null  float64
 31  sublet_availability_proportion_x  75560 non-null  float64
 32  sublet_internal_class_rent_x      75560 non-null  float64
 33  sublet_overall_rent_x             75560 non-null  float64
 34  leasing_x                         75560 non-null  float64
 35  internal_class_y                  75562 non-null  object
 36  RBA_y                             75562 non-null  int64
 37  available_space_y                 75562 non-null  int64
 38  availability_proportion_y         75562 non-null  float64
 39  internal_class_rent_y             75562 non-null  float64
 40  overall_rent_y                    75562 non-null  float64
 41  direct_available_space_y          75562 non-null  float64
 42  direct_availability_proportion_y  75562 non-null  float64
 43  direct_internal_class_rent_y      75562 non-null  float64
 44  direct_overall_rent_y             75562 non-null  float64
 45  sublet_available_space_y          75562 non-null  float64
 46  sublet_availability_proportion_y  75562 non-null  float64
 47  sublet_internal_class_rent_y      75562 non-null  float64
 48  sublet_overall_rent_y             75562 non-null  float64
 49  leasing_y                         75562 non-null  int64
 50  ending_occupancy_proportion       75562 non-null  float64
 51  starting_occupancy_proportion     75562 non-null  float64
 52  avg_occupancy_proportion          75562 non-null  float64
dtypes: float64(31), int64(5), object(17)
memory usage: 30.6+ MB
None

In [79]:
columns_to_drop = [
    "building_name", "building_id", "address", "zip", 
    "direct_available_space", "direct_availability_proportion", 
    "direct_internal_class_rent", "direct_overall_rent", 
    "sublet_available_space", "sublet_availability_proportion", 
    "sublet_internal_class_rent", "sublet_overall_rent", "company_name", "internal_market_cluster"
    
]

# Keep only columns that are present
existing_cols = [col for col in columns_to_drop if col in main_without_majorMarketInfo2018.columns]

# Drop safely
main_without_majorMarketInfo2018_drop = main_without_majorMarketInfo2018.drop(existing_cols, axis=1)
main_without_majorMarketInfo2018_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291088 entries, 0 to 291087
Data columns (total 44 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   year                              291088 non-null  int64
 1   quarter                           291088 non-null  object
 2   monthsigned                       289722 non-null  float64
 3   market                            291088 non-null  object
 4   region                            291088 non-null  object
 5   city                              291088 non-null  object
 6   state                             291088 non-null  object
 7   internal_submarket                291088 non-null  object
 8   internal_class_x                  291082 non-null  object
 9   leasedSF                          291088 non-null  float64
 10  internal_industry                 41176 non-null   object
 11  transaction_type                  290340 non-null  object
 12  costarID                          291088 non-null  int64
 13  space_type                        277524 non-null  object
 14  CBD_suburban                      291088 non-null  object
 15  RBA_x                             291082 non-null  float64
 16  available_space_x                 291082 non-null  float64
 17  availability_proportion_x         291082 non-null  float64
 18  internal_class_rent_x             291082 non-null  float64
 19  overall_rent_x                    291082 non-null  float64
 20  direct_available_space_x          243348 non-null  float64
 21  direct_availability_proportion_x  243348 non-null  float64
 22  direct_internal_class_rent_x      243348 non-null  float64
 23  direct_overall_rent_x             243348 non-null  float64
 24  sublet_available_space_x          243348 non-null  float64
 25  sublet_availability_proportion_x  243348 non-null  float64
 26  sublet_internal_class_rent_x      243348 non-null  float64
 27  sublet_overall_rent_x             243348 non-null  float64
 28  leasing_x                         291082 non-null  float64
 29  internal_class_y                  291088 non-null  object
 30  RBA_y                             291088 non-null  int64
 31  available_space_y                 291088 non-null  int64
 32  availability_proportion_y         291088 non-null  float64
 33  internal_class_rent_y             291088 non-null  float64
 34  overall_rent_y                    291088 non-null  float64
 35  direct_available_space_y          243354 non-null  float64
 36  direct_availability_proportion_y  243354 non-null  float64
 37  direct_internal_class_rent_y      243354 non-null  float64
 38  direct_overall_rent_y             243354 non-null  float64
 39  sublet_available_space_y          243354 non-null  float64
 40  sublet_availability_proportion_y  243354 non-null  float64
 41  sublet_internal_class_rent_y      243354 non-null  float64
 42  sublet_overall_rent_y             243354 non-null  float64
 43  leasing_y                         291088 non-null  int64
dtypes: float64(27), int64(5), object(12)
memory usage: 97.7+ MB

In [80]:
main_without_majorMarketInfo2018_drop.drop(columns = "internal_industry").dropna().info()

<class 'pandas.core.frame.DataFrame'>
Index: 232956 entries, 11282 to 291083
Data columns (total 43 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   year                              232956 non-null  int64
 1   quarter                           232956 non-null  object
 2   monthsigned                       232956 non-null  float64
 3   market                            232956 non-null  object
 4   region                            232956 non-null  object
 5   city                              232956 non-null  object
 6   state                             232956 non-null  object
 7   internal_submarket                232956 non-null  object
 8   internal_class_x                  232956 non-null  object
 9   leasedSF                          232956 non-null  float64
 10  transaction_type                  232956 non-null  object
 11  costarID                          232956 non-null  int64
 12  space_type                        232956 non-null  object
 13  CBD_suburban                      232956 non-null  object
 14  RBA_x                             232956 non-null  float64
 15  available_space_x                 232956 non-null  float64
 16  availability_proportion_x         232956 non-null  float64
 17  internal_class_rent_x             232956 non-null  float64
 18  overall_rent_x                    232956 non-null  float64
 19  direct_available_space_x          232956 non-null  float64
 20  direct_availability_proportion_x  232956 non-null  float64
 21  direct_internal_class_rent_x      232956 non-null  float64
 22  direct_overall_rent_x             232956 non-null  float64
 23  sublet_available_space_x          232956 non-null  float64
 24  sublet_availability_proportion_x  232956 non-null  float64
 25  sublet_internal_class_rent_x      232956 non-null  float64
 26  sublet_overall_rent_x             232956 non-null  float64
 27  leasing_x                         232956 non-null  float64
 28  internal_class_y                  232956 non-null  object
 29  RBA_y                             232956 non-null  int64
 30  available_space_y                 232956 non-null  int64
 31  availability_proportion_y         232956 non-null  float64
 32  internal_class_rent_y             232956 non-null  float64
 33  overall_rent_y                    232956 non-null  float64
 34  direct_available_space_y          232956 non-null  float64
 35  direct_availability_proportion_y  232956 non-null  float64
 36  direct_internal_class_rent_y      232956 non-null  float64
 37  direct_overall_rent_y             232956 non-null  float64
 38  sublet_available_space_y          232956 non-null  float64
 39  sublet_availability_proportion_y  232956 non-null  float64
 40  sublet_internal_class_rent_y      232956 non-null  float64
 41  sublet_overall_rent_y             232956 non-null  float64
 42  leasing_y                         232956 non-null  int64
dtypes: float64(27), int64(5), object(11)
memory usage: 78.2+ MB

In [81]:
x = 'internal_class_x'
y = 'internal_class_y'
diff_count = (main_without_majorMarketInfo2018_drop[x] != main_without_majorMarketInfo2018_drop[y]).sum()
print(f"Number of differing values of {x}: {diff_count}")

Number of differing values of internal_class_x: 145547

In [86]:
cols_to_drop = [col for col in main_without_majorMarketInfo2018_drop.columns if col.endswith('_y')]
main_without_majorMarketInfo2018_drop.drop(columns=cols_to_drop, inplace=True)

In [88]:
main_without_majorMarketInfo2018_drop.rename(
    columns={col: col[:-2] for col in main_without_majorMarketInfo2018.columns if col.endswith('_x')},
    inplace=True
)
main_without_majorMarketInfo2018_drop.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 291088 entries, 0 to 291087
Data columns (total 29 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   year                            291088 non-null  int64
 1   quarter                         291088 non-null  object
 2   monthsigned                     289722 non-null  float64
 3   market                          291088 non-null  object
 4   region                          291088 non-null  object
 5   city                            291088 non-null  object
 6   state                           291088 non-null  object
 7   internal_submarket              291088 non-null  object
 8   internal_class                  291082 non-null  object
 9   leasedSF                        291088 non-null  float64
 10  internal_industry               41176 non-null   object
 11  transaction_type                290340 non-null  object
 12  costarID                        291088 non-null  int64
 13  space_type                      277524 non-null  object
 14  CBD_suburban                    291088 non-null  object
 15  RBA                             291082 non-null  float64
 16  available_space                 291082 non-null  float64
 17  availability_proportion         291082 non-null  float64
 18  internal_class_rent             291082 non-null  float64
 19  overall_rent                    291082 non-null  float64
 20  direct_available_space          243348 non-null  float64
 21  direct_availability_proportion  243348 non-null  float64
 22  direct_internal_class_rent      243348 non-null  float64
 23  direct_overall_rent             243348 non-null  float64
 24  sublet_available_space          243348 non-null  float64
 25  sublet_availability_proportion  243348 non-null  float64
 26  sublet_internal_class_rent      243348 non-null  float64
 27  sublet_overall_rent             243348 non-null  float64
 28  leasing                         291082 non-null  float64
dtypes: float64(16), int64(2), object(11)
memory usage: 64.4+ MB